.topCardWrapper{
  min-height: 194px;
  padding: 34px 45px 23px 52px;

  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo{
  position: absolute;
  top: 24px;
  left: 24px;

  opacity: 0.3;
}
